[req]
default_bits = 4096
distinguished_name = req_distinguished_name
prompt = no

[req_distinguished_name]
C = CA
ST = Ontario
L = Ottawa
O = Localhost CA
OU = Titanium-Server
CN = titanium-server.lan

[v3_ca]
subjectAltName = @alt_names

[alt_names]
DNS.1 = titanium-server.lan
DNS.2 = titanium-server.vl
DNS.3 = *.titanium-server.lan
DNS.4 = *.titanium-server.vl
