---
title: "Dashboard"
subtitle: "Titanium-Server"
footer: ""

{% if inventory_hostname == "vm" %}
  {% set tld = "vl" %}
{% else %}
  {% set tld = "lan" %}
{% endif%}

services:
  - items:
    - name: "Status"
      icon: "fas fa-signal"
      url: "https://status.titanium-server.{{ tld }}"
    - name: "Cockpit"
      icon: "fab fa-fedora"
      url: "https://cockpit.titanium-server.{{ tld }}"
    - name: "Jellyfin"
      icon: "fas fa-play-circle"
      url: "https://jellyfin.titanium-server.{{ tld }}"
    - name: "Photos"
      icon: "fas fa-images"
      url: "https://photos.titanium-server.{{ tld }}"
    - name: "Ombi"
      icon: "fas fa-search"
      url: "https://ombi.titanium-server.{{ tld }}"
    - name: "Torrents"
      icon: "fas fa-download"
      url: "https://torrent.titanium-server.{{ tld }}"
    - name: "RSS"
      icon: "fas fa-rss"
      url: "https://rss.titanium-server.{{ tld }}"
    - name: "Music"
      icon: "fas fa-headphones"
      url: "https://music.titanium-server.{{ tld }}"
    - name: "Prowlarr"
      icon: "fas fa-download"
      url: "https://prowlarr.titanium-server.{{ tld }}"
    - name: "Radarr"
      icon: "fas fa-file-video"
      url: "https://radarr.titanium-server.{{ tld }}"
    - name: "Sonarr"
      icon: "fas fa-file-video"
      url: "https://sonarr.titanium-server.{{ tld }}"
    - name: "Lidarr"
      icon: "fas fa-file-audio"
      url: "https://lidarr.titanium-server.{{ tld }}"
    - name: "Grocy"
      icon: "fas fa-shopping-cart"
      url: "https://grocy.titanium-server.{{ tld }}"
    - name: "Links"
      icon: "fas fa-link"
      url: "https://links.titanium-server.{{ tld }}"
