[Unit]
Description=Container - %I

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
TimeoutStopSec=70
ExecStart=/usr/bin/podman play kube --log-driver journald \
    /home/{{ ansible_user }}/.config/kubes/%i.yaml
ExecStop=/usr/bin/podman play kube --down \
    /home/{{ ansible_user }}/.config/kubes/%i.yaml
Type=forking

[Install]
WantedBy=multi-user.target default.target
