[Unit]
Description=Media Server

[Container]
Label=io.containers.autoupdate=registry
Image=ghcr.io/linuxserver/jellyfin:latest
PublishPort=8096:8096

Volume=/storage/containers/jellyfin/config:/config
Volume=/storage/media:/data

Environment=PUID=0
Environment=PGID=0
Environment=TZ=America/Toronto

[Service]
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=multi-user.target default.target
