[Unit]
Description=IPTV Aggregator and Server

[Container]
Label=io.containers.autoupdate=registry
Image=ghcr.io/kpirnie/kptv-fast:latest
PublishPort=7777:7777

Environment=CACHE_DURATION=7200
Environment=WARM_CACHE_ON_STARTUP=true
Environment=WARM_EPG_ON_STARTUP=true
Environment=ENABLED_PROVIDERS=pluto,plex,samsung,lg,stirr,git_iptv
Environment=GIT_COUNTRY=ca
Environment=LG_COUNTRY=ca
Environment=PLUTO_REGION=ca

[Service]
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=multi-user.target default.target
