[Unit]
Description=Miniflux Database

[Container]
Pod=miniflux.pod
Label=io.containers.autoupdate=registry
Image=docker.io/postgres:18

Volume=/storage/containers/miniflux/data:/var/lib/postgresql

Environment=POSTGRES_USER=miniflux
Environment=POSTGRES_PASSWORD=miniflux

HealthCmd=pg_isready -U miniflux
Notify=healthy

[Service]
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=multi-user.target default.target
