[Unit]
Description=Miniflux Database

[Container]
Pod=miniflux.pod
Label=io.containers.autoupdate=registry
Image=docker.io/postgres:14-alpine

Volume=/storage/containers/miniflux/data:/var/lib/postgresql/data

Environment=POSTGRES_USER=miniflux
Environment=POSTGRES_PASSWORD=miniflux

[Service]
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=multi-user.target default.target
