[Unit]
Description=Indexer Manager

[Container]
Label=io.containers.autoupdate=registry
Image=ghcr.io/linuxserver/prowlarr:latest
PublishPort=9696:9696

Volume=/storage/containers/prowlarr/config:/config

Environment=PUID=0
Environment=PGID=0
Environment=TZ=America/Toronto

HealthCmd=curl -f -s -o /dev/null -w "%{http_code}" localhost:9696/ping
Notify=healthy

[Service]
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=multi-user.target default.target
