[Unit]
Description=Movie Media Manager

[Container]
Label=io.containers.autoupdate=registry
Image=ghcr.io/linuxserver/radarr:latest
PublishPort=7878:7878

Volume=/storage/containers/radarr/config:/config
Volume=/storage/media:/data

Environment=PUID=0
Environment=PGID=0
Environment=TZ=America/Toronto

[Service]
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=multi-user.target default.target
