---
apiVersion: v1
kind: Pod
metadata:
  labels:
    io.containers.autoupdate: registry
  name: miniflux
spec:
  containers:
    - name: miniflux
      image: docker.io/miniflux/miniflux:latest
      env:
        - name:
          value:

    - name: db
      image: docker.io/postgres:14-alpine
      env:
        - name: POSTGRES_USER
          value: miniflux
        - name: POSTGRES_PASSWORD
          value: miniflux
      ports:
        - containerPort: 8096
          hostPort: 8096
      volumeMounts:
        - mountPath: /var/lib/postgresql/data
          name: db
  volumes:
    - name: db
      hostPath:
        path: /storage/containers/miniflux/db
        type: Directory
