[Unit]
Description=Podman Container - {{ container_id }}
{% if pod %}
BindsTo=pod-{{ pod }}.service
After=pod-{{ pod }}.service
{% endif %}

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
TimeoutStopSec=70
{% if delay %}
ExecStartPre=/bin/sleep {{ delay }}
{% endif %}
ExecStartPre=/bin/rm -f %t/{{ container_id }}.ctr-id
ExecStart=/usr/bin/podman run --rm -d --name {{ container_id }} \
    --cgroups=no-conmon --sdnotify=conmon \
    --cidfile=%t/{{ container_id }}.ctr-id \
    --log-driver=journald \
{% if pod %}
    --pod-id-file %t/{{ pod }}.pod-id \
{% endif %}
{% for port in ports %}
    -p {{ port.host }}:{{ port.container }} \
{% endfor %}
{% for env_var in env_vars %}
    -e {{ env_var }} \
{% endfor %}
{% for mount in mounts %}
    -v {{ mount }}:Z \
{% endfor %}
    {{ image }}:{{ tag }}
ExecStop=/usr/bin/podman stop --ignore \
    --cidfile=%t/{{ container_id }}.ctr-id
ExecStopPost=/usr/bin/podman rm -f --ignore \
    --cidfile=%t/{{ container_id }}.ctr-id
Type=notify
NotifyAccess=all

[Install]
WantedBy=multi-user.target default.target