- name: Create Container Storage Directories
  become: true
  ansible.builtin.file:
    path: "/storage/containers/{{ item }}"
    state: directory
    owner: "{{ ansible_user_id }}"
    group: "{{ ansible_user_id }}"
    mode: "0775"
    setype: container_file_t
  loop: "{{ quadlet_services }}"

- name: Create Container Storage Sub-Directories
  ansible.builtin.file:
    path: "/storage/containers/{{ item }}"
    state: directory
    owner: "{{ ansible_user_id }}"
    group: "{{ ansible_user_id }}"
    mode: "0775"
    setype: container_file_t
  loop:
    - "prowlarr/config"
    - "radarr/config"
    - "sonarr/config"

- name: Copy Homer Config
  ansible.builtin.copy:
    src: "homer.yaml"
    dest: "/storage/containers/homer/config.yaml"
    owner: "{{ ansible_user_id }}"
    group: "{{ ansible_user_id }}"
    mode: "0775"
    setype: container_file_t

- name: Create Container Systemd Directory
  ansible.builtin.file:
    path: "~/.config/containers/systemd"
    state: directory
    mode: "0755"

- name: Create Podman Secrets
  containers.podman.podman_secret:
    name: "{{ item.name }}"
    data: "{{ item.data }}"
  loop: "{{ quadlet_secrets }}"
  no_log: true

- name: Copy Pod Units
  ansible.builtin.copy:
    src: "systemd/{{ item }}.pod"
    dest: "~/.config/containers/systemd/{{ item }}.pod"
    mode: "0644"
  loop: "{{ quadlet_pods }}"

- name: Copy Container Units
  ansible.builtin.copy:
    src: "systemd/{{ item }}.container"
    dest: "~/.config/containers/systemd/{{ item }}.container"
    mode: "0644"
  loop: "{{ quadlet_services }}"

- name: Start Container Units
  ansible.builtin.systemd_service:
    name: "{{ item }}"
    daemon-reload: true
    enabled: true
    state: started
    scope: user
  loop: "{{ quadlet_services }}"
